<div class="columns">
  <h1><%= @movie.title %></h1>
  <p>Year: <%= @movie.creation_year %></p>
  <p>Genre: <%= @movie.genre %></p>
</div>

<div class="columns">
  <h1>Actors</h1>
  <% @movie.actors.each do |a| %>
    <%= a.name %>
  <% end %>
</div>

<div class="columns">
  <%= form_with url: "/movies/#{@movie.id}/add_actor", method: :patch, local: true do |f| %>
    <%= f.select :actor, Actor.all.pluck(:name, :id) %>
  <% end %>
</div>
