<h1><%= @movie.title %></h1>
<h2><%= @movie.creation_year %></h2>
<h2><%= @movie.genre %></h2>

<h2>Actors:</h2>
<% @actors.each do |actor| %>
  <p><%= actor.name %></p>
<% end %>

<%= form_with url: "/movies/#{@movie.id}", method: :post do |form| %>
  <%= form.label :add_actor, 'Add Actor:' %>
  <%= form.text_field :add_actor %>
  <%= form.submit 'Submit' %>
<% end %>
