<h1><%= @studio.name %></h1>
<h2><%= @studio.location %></h2>

<h3>Studio Movies</h3>
<% @studio.movies.each do |movie| %>
  <p><%= movie.name %></p><br/>
<% end %>

<h3>Studio Movies Actors</h3>
<% @studio.actors_list.each do |actor| %>
  <p><%= actor.name %></p><br/>
<% end %>
<br/><br/>


##RYAN
<h1>Chef Show Page</h1>

<div class="chef-info">
  <h2>CHEF: <%= @chef.name %></h2>
</div>

<div class="dish-describe">
  <h3>Dishes:</h3>
  <ul>
    <% @chef.dishes.each do |dish| %>
    <li>
      <%= dish.name %>---DESCRIPTION: <%= dish.description %>
      <div id="dish-<%="#{dish.id}"%> "style="display:inline-block;">
        <%= button_to "Remove #{dish.id}", chef_path(@chef, dish.id), method: :patch %>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<div class="ingredients-describe">
  <h3>ingredients:</h3>
  <ul>
    <% @chef.ingredients.distinct.each do |ingredient| %>
    <li><%= ingredient.name %>--CALORIES:  <%= ingredient.calories %></li>
    <% end %>
  </ul>
</div>
